.projectsContainer {
  container: projects / inline-size;
}

.projects {
  column-count: 2;
  column-gap: 20px;
  margin-top: 20px;
  & .project {
    margin-bottom: 15px;
    display: inline-block;
    width: 100%;
    & a {
      border-radius: 5px;
    }
  }
}

@container projects (width < 767px) {
  .projects {
    column-count: 1;
  }
  .empty {
    align-items: start !important;
    height: auto !important;
  }
}
