.skillsContainer {
  container: skills / inline-size;
}

.skillsBox {
  display: grid;
  margin-top: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  @container skills (width < 767px) {
    & {
      grid-template-columns: 1fr 1fr;
    }
  }
}

.skillsBox div {
  background-position: center !important;
  &:hover {
    border-color: var(--mantine-color-yellow-filled);
  }
  & svg {
    background: var(--mantine-color-yellow-light);
    color: var(--mantine-color-yellow-filled);
    padding: 10px;
    border-radius: 20px;
  }
}
